.detailsNav {
  padding-bottom: 20px;
}
.detailsNavList {
  display: flex;
  align-items: center;
  gap: 20px;
}
a.detailsNavLink {
  color: #999999;
  padding: 14px 28px;
  border-radius: var(--radius);
  background-color: var(--bg-secondary);
  /* max-width: 125px; */
  text-align: center;
  font-size: 16px;
  width: 130px;
  transition: all 250ms;
}
a.detailsNavLink:hover {
  color: var(--accent-hover);
  background-color: #291b1b;
}
a.active {
  color: var(--accent);
}
@media screen and (min-width: 1280px) {
  .detailsNav {
    padding-bottom: 30px;
  }
  .detailsNavList {
    gap: 30px;
  }
  a.detailsNavLink {
    padding: 16px 34px;
    font-size: 18px;
    width: 145px;
  }
}
/* ================================ */
