.backBtn {
  color: #999999;
  padding: 12px 24px;
  border-radius: var(--radius);
  background-color: var(--bg-secondary);
  text-align: center;
  transition: all 250ms;
  max-width: 120px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.backBtnSvg {
  width: 20px;
  height: 20px;
  stroke: var(--text-secondary);
  transition: all 250ms;
}
.backBtnText {
  color: #999999;
  font-size: var(--text-general);
  transition: all 250ms;
}
.backBtn:hover {
  background-color: #291b1b;
}
.backBtn:hover .backBtnText {
  color: var(--accent-hover);
  background-color: #291b1b;
}
.backBtn:hover .backBtnSvg {
  stroke: var(--accent-hover);
}
.movieDetailsCont {
  /* display: none; */
}
/* ================================ */
@media screen and (min-width: 768px) {
  .backBtn {
    padding: 14px 26px;
    max-width: 140px;
    gap: 12px;
  }
  .backBtnSvg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .backBtn {
    padding: 16px 34px;
    max-width: 150px;
    gap: 15px;
  }
  .backBtnSvg {
    width: 25px;
    height: 25px;
  }
  .backBtnText {
    font-size: var(--text-big);
  }
}
/* ================================ */
