.castContainer {
  margin-bottom: 50px;
}
.castList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}
.castItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  max-width: 150px;
}
.castImg {
  height: 200px;
  border-radius: var(--radius);
  object-fit: cover;
  margin: 0;
  display: block;
}
.castSvgCont {
  padding: 75px 41px;
  background-color: var(--bg-card);
  border-radius: var(--radius);
}
.castSvg {
  width: 50px;
  height: 50px;
  fill: var(--accent);
}
.castName {
  font-size: var(--text-general);
  color: var(--text-secondary);
}
