.movieDetailsCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-bottom: 35px;
}
.movieDetailsCardImg {
  border-radius: var(--radius);
  display: block;
  margin: 0;
  object-fit: cover;
  max-width: 350px;
}
.detailsCardContent {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.detailsCardUp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detailsCardTitle {
  font-size: var(--title-h1-mob);
  font-weight: 600;
}
.detailsCardMainInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.detailsCardMainInfoArticle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.detailsCardMainInfoTitle {
  font-weight: 600;
  font-size: var(--text-general);
  white-space: nowrap;
}
.detailsCardMainInfoList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  gap: 6px;
}
.detailsCardMainInfoText {
  color: var(--accent);
  font-size: var(--text-small);
  margin: 0;
  display: block;
  border-radius: 20px;
  padding: 4px 10px;
  background-color: var(--bg-card);
}
.detailsCardBottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detailsCardDescriptionInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.detailsCardDescriptionTitle {
  font-size: var(--title-h3-mob);
}
.detailsCardDescriptionList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.detailsCardDescriptionItem {
  color: var(--text-secondary);
  font-size: var(--text-small);
  margin: 0;
  border-radius: 20px;
  padding: 6px 10px;
  background-color: var(--bg-card);
}
.detailsCardDescriptionOverview {
  color: var(--text-secondary);
  font-size: var(--text-small);
  padding-bottom: 30px;
  border-bottom: 0.5px solid var(--text-muted);
}
/* ================================ */
@media screen and (min-width: 768px) {
  .movieDetailsCard {
    gap: 35px;
    margin-bottom: 40px;
  }
  .movieDetailsCardImg {
    max-width: 450px;
  }
  .detailsCardContent {
    gap: 40px;
  }
  .detailsCardUp {
    gap: 12px;
  }
  .detailsCardTitle {
    font-size: var(--title-h1-tab);
  }

  .detailsCardMainInfoText {
    font-size: var(--text-general);
    padding: 6px 12px;
  }
  .detailsCardBottom {
    gap: 25px;
  }
  .detailsCardDescriptionInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .detailsCardDescriptionTitle {
    font-size: var(--title-h3-tab);
  }
  .detailsCardDescriptionList {
    gap: 12px;
  }
  .detailsCardDescriptionItem {
    font-size: var(--text-general);

    padding: 6px 12px;
  }
  .detailsCardDescriptionOverview {
    font-size: var(--text-general);
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .movieDetailsCard {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 40px;
  }
  .movieDetailsCardImg {
    max-width: 600px;
  }
  .detailsCardContent {
    gap: 45px;
  }
  .detailsCardUp {
    gap: 15px;
  }
  .detailsCardTitle {
    font-size: var(--title-h1-desk);
  }
  .detailsCardMainInfo {
    gap: 25px;
  }

  .detailsCardMainInfoText {
    padding: 4px 14px;
  }
  .detailsCardBottom {
    gap: 30px;
  }
  .detailsCardDescriptionTitle {
    font-size: var(--title-h3-desk);
  }
  .detailsCardDescriptionList {
    gap: 12px;
  }
  .detailsCardDescriptionItem {
    padding: 6px 14px;
  }
  .detailsCardDescriptionOverview {
    padding-bottom: 50px;
  }
}
/* ================================ */
